body{
    height: 100%;
    width: auto;
    overflow: hidden;
}

.clockBox {
    text-align: center;
    letter-spacing: 3px;
    height: auto;
}

.clock {
    display: flex;
    position: relative;
    margin: 40% auto;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 7rem;
    width: 15rem;
    border: 1px solid black;
    border-radius: 4px;
    font-size: larger;
}

.btnBox {
    margin-top: -35%;
    display: flex;
    height: 3rem;
    width: auto;
    text-align: center;
    justify-content: center;
}

body.light {
    background: white;
    color: black;
    font-family: sans-serif;
}

body.light .btn {

    background-color: rgb(219, 139, 139);
    
}

body.dark {
    background: #444242;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}